@font-face {
  font-family: IRANSansWeb;
  src: url(./font/IRANSansWeb/IRANSansWeb.ttf) ;
  src: url(./font/IRANSansWeb/IRANSansWeb.woff) ;
  src: url(./font/IRANSansWeb/IRANSansWeb.woff2) 
}
body {
  direction: ltr;
  font-family: IRANSansWeb;
  box-sizing: border-box;
}
button {
  margin: 5px;
  background-color: #00ff85;
  border-radius: 6px;
  width: 150px;
  height: 46px;
  border: 1.5px solid #80FFC2;
}

p {
  font-size: 12px;
  margin-bottom: 1rem;
  color: #E6FFF3;
}
img{
  border-radius: 10px;
  position: absolute;
}
.sideLeft{
  width:44%;
  direction: rtl;
  margin-right: 1.5rem;
  margin-top: 5rem;
}
.pHomepage{
  border-right: 2.5px solid #00CC6A ;
}