@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: normal;
  src: url(./font//IRANSansWeb/IRANSansWeb.ttf);
  src: url(./font/IRANSansWeb/IRANSansWeb.woff);
  src: url(./font/IRANSansWeb/IRANSansWeb.woff2);
  src: url(./font/IRANSansWeb/@font-face/002254488ce1877d55ad3693e527ad1e.eot);
  src: url(./font/IRANSansWeb/@font-face/002254488ce1877d55ad3693e527ad1e.woff2);
}
body{
  direction: rtl;
  font-family: IRANSansWeb;
}
@tailwind base;
@tailwind components;
@tailwind utilities;