@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: IranSansWeb;
  src: url(./assets/Fonts/IRANSans-web.ttf);
}
body {
  font-family: IranSansWeb;
}
.leaflet-container {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  margin: auto;
}
